.container {
    display: flex;
}

.login-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    min-width: 30%;    
    text-align: center;
}

.login-form > h1 {
    width: 100%;
}

.login-form > form {
    width: 90%;
    padding: 0px 5%;
}

.login-form input {
    width: 92%;
    padding: 5px 10px;
    font-size: 12pt;
    border: 2px solid #5151518f;
    border-radius: 50px;
    margin: 5px;
    transition: 300ms;
}

.login-form input:focus {
    border: 2px solid #656565;
    box-shadow: 0px 0px 20px 5px #3d3d3d;
    transition: 300ms;
}

.login-form button {
    padding: 10px 20%;
    border: 0px;
    border-radius: 50px;
    background: #515151;
    color: #fff;
    font-weight: 700;
    margin: 10px 0px;
    cursor: pointer;
    position: relative;
    bottom: 0px;
    transition: 300ms;
}

.login-form button:hover {
    background: #656565;
    box-shadow: 0px 6px 0px #515151;
    bottom: 6px;
    transition: 300ms;
}

.image-container {
    display: block;
    width: 70%;
    overflow: hidden;
}

.image-container-mb{
    display: none;
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.image-container-mb img{
    display: block;
    width: 100%;
    height: fit-content;
}

@media (max-width: 560px){
    .container {
        display: block;
    }
    .image-container {
        display: none;
    }
    .image-container-mb{
        display: flex;
    }
}